/*------------------------------------------------------------------
  	[Promo Block]
------------------------------------------------------------------*/

.promo-block {
	padding: 300px 0 180px;
	background-image: linear-gradient(180deg, #1b00a3, #03c3ff, #0019db);
	.promo-block-title {
		@include font($size: 58px);
		color: $color-white;
		font-size: 60px;
		line-height: 1;
		font-family: 'Enriqueta', serif;
		@media (max-width: $screen-xs-min) {
			@include font($size: 30px);
		}
	}

	.promo-block-text {
		@include font($size: 20px);
		font-size: 35px;
		font-family: 'Nunito Sans', sans-serif;
		color: $color-white;
		@media (max-width: $screen-xs-min) {
			@include font($size: 13px);
		}
	}

	.promo-block-divider {
		border-bottom: 1px solid rgba(255,255,255,.4);
		padding-bottom: 20px;
		margin-bottom: 35px;
	}
}