/*------------------------------------------------------------------
  	[Promo Block]
------------------------------------------------------------------*/

.promo-block {
	
	padding: 300px 0 180px;
	.promo-block-title {
		@include font($size: 58px);
		color: #11141d;
		font-size: 60px;
		line-height: 1;
		font-family: Hind, sans-serif;
		@media (max-width: $screen-xs-min) {
			@include font($size: 38px);
		}
	}

	.promo-block-text {
		@include font($size: 20px);
		font-size: 25px;
		font-family: 'Nunito Sans', sans-serif;
		color: #11141d;
		@media (max-width: $screen-xs-min) {
			@include font($size: 13px);
		}
	}

	.promo-block-divider {
		border-bottom: 1px solid rgba(0, 0, 0, 0.31);
		padding-bottom: 20px;
		margin-bottom: 35px;
	}
}