/*------------------------------------------------------------------
  	[Social Icons]
------------------------------------------------------------------*/

.social-icons {
	display: inline-block;
	@include size(50px);
	@include font($size: 22px);
	color: $color-white;
	text-align: center;
	border-radius: 50%;
	vertical-align: middle;
	padding: 14px;
	@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));

	@media (max-width: $screen-sm-min) {
    display: none;
    }
	&:hover {
		color: $color-heading;
		background: $color-white;
		@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
	}
}